
@{
    ViewData["Title"] = "MyFavorite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 container">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                
                <tbody class="align-middle">
                    <tr>
                        <td class="align-middle"><img src="~/user/img/product-1.jpg" alt="" style="width: 50px;"> Product Name</td>
                        <td class="align-middle"><a asp-route="ProductDetail" class="btn btn-sm btn-dark">Detail</a></td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="~/user/img/product-2.jpg" alt="" style="width: 50px;"> Product Name</td>
                        <td class="align-middle"><a asp-route="ProductDetail" class="btn btn-sm btn-dark">Detail</a></td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="~/user/img/product-3.jpg" alt="" style="width: 50px;"> Product Name</td>
                        <td class="align-middle"><a asp-route="ProductDetail" class="btn btn-sm btn-dark">Detail</a></td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="~/user/img/product-4.jpg" alt="" style="width: 50px;"> Product Name</td>
                        <td class="align-middle"><a asp-route="ProductDetail" class="btn btn-sm btn-dark">Detail</a></td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><img src="~/user/img/product-5.jpg" alt="" style="width: 50px;"> Product Name</td>
                        <td class="align-middle"><a asp-route="ProductDetail" class="btn btn-sm btn-dark">Detail</a></td>
                        <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
<!-- Cart End -->
